<f:layout name="Default" />
<f:section name="Main">
	<div class="container" style="margin-top:20px; position:relative;">
		<div class="row row-eq-height">
			<div class="col-xs-6 col-xs-push-3">
				<img src="fileadmin/eric_yee/me.svg" class="img-responsive" id="me">
			</div>
			<div class="col-xs-6 col-xs-pull-3 align-middle">
				<div id="ringBody">
					<ul id="ringOfCharacters">
						<li class="ringWord">TYPO3</li>
						<li class="ringWord">CMS</li>
						<li class="ringWord">CSS3</li>
						<li class="ringWord">HTML5</li>
						<li class="ringWord">UX</li>
						<li class="ringWord">Bootstrap</li>
						<li class="ringWord">JQuery</li>
						<li class="ringWord">AngularJS</li>
						<li class="ringWord">C/C++</li>
						<li class="ringWord">Photoshop</li>
						<li class="ringWord">Illustrator</li>
						<li class="ringWord">MySQL</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</f:section>
